body{
    background: black;
    margin: 0;
}

.logo{
    position: absolute;
    width: 221px;
    height: 158px;
    left: 82px;
    top: -10px;
}

.contato{
    position: absolute;
    width: 200px;
    height: 48px;
    left: 1701px;
    top: 55px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    color: #FFFFFF;
    text-decoration:none;
    font-size:20px;
}

.doe{
    position: absolute;
    width: 200px;
    height: 28px;
    left: 1551px;
    top: 55px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    color: #FFFFFF;
    text-decoration:none;
    font-size:20px;
}

.elipse1{
    position: absolute;
    width: 324px;
    height: 324px;
    left: 981px;
    top: 96px;
}

.elipse2{
    position: absolute;
    width: 220px;
    height: 220px;
    left: 1249px;
    top: 492px;
    
}

.facebook{
    position: absolute;
    left: 97.51%;
    right: 2.69%;
    top: 94.38%;
    bottom: 3.68%;
}

.plaquinha{
    position: absolute;
    width: 426px;
    height: 426px;
    left: 1280px;
    top: 219px;
    background: url(../img/2009421\ 1.png);
    backdrop-filter: blur(4px);
}

.rectangle{
    position: absolute;
    width: 168px;
    height: 43px;
    left: 220px;
    top: 555px;
    background: #006F37;
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}

.sobre{
    position: absolute;
    width: 200px;
    height: 28px;
    left: 1390px;
    top: 55px;
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
    text-decoration:none;
    font-size:20px;
}

.twitter{
    position: absolute;
    left: 94.51%;
    right: 2.69%;
    top: 94.38%;
    bottom: 3.68%;
}

.vector1 {
    position: absolute;
    width: 1119px;
    height: 1302px;
    left: 789px;
    top: -175px;
}
.informacoes p{
    position: absolute;
    width: 450px;
    height: 60px;
    left: 200px;
    top: 350px;
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
    font-size:20px;
}
.informacoes h1{
    position: absolute;
    height: 50px;
    top: 200px;
    left: 150px;
    color: white;
    font-size:30px;
    font-family: 'Roboto', sans-serif;
}
.informacoes .p1{
    top: 250px;
    left: 150px;
    width: 300px;
    color: white;
    font-size:25px;
    font-family: 'Roboto', sans-serif;
}