
body{
    
    background-color: black;
    margin: 0%;
    
}

body::-webkit-scrollbar{ 

    width: 0px;  
    
    background: transparent; 
    
    } 

.cadastro{
    color: white;
    display: flex;
    font-size: 25px;
    font-family: 'Quicksand', sans-serif;
    right: 1250px;
    position: absolute;

}

h4{
    font-family: 'Quicksand', sans-serif;
}

.div-cadastro{
    margin-left: 5px;
    margin-right: 5px;
    align-items: center;
    background-color: #006f37;
    border: none;
    display: flex;
    justify-content: center;
    width: 100%; 
    height: 70px;
    
    
}


.div-cadastro2{
    background-color: red;
    opacity: 0.75;
    
}

.logo-retech{
    display: flex;
    justify-content: flex-end;
}

.formulario{
    width: 400px;
    padding: 30px;
    color: white;
    left: 300px;
    position: absolute;
}
.formulario p{
    width: 100%;
    font-size: 1.5em;
}
.field{
    width: 100%;
    margin: 15px 0;
}
.field label, 
.field span{
    padding-left: 10px;
    font-size: 1.1em;
    display: block;
    width: 100%;
}
.radiobox label{
    width: auto;
    display: inline-block;
}
input[type=text],
input[type=email],
input[type=password],
input[type=date],
input[type=pais],
textarea{
    width: 100%;
    padding-left: 10px;
    height: 30px;
    line-height: 30px;
    border-radius: 15px;
    border: 1px solid #ccc;
    outline: none;
    font-family: 'Quicksand', sans-serif;
}
input#nao{
    margin-left: 30px;
}
textarea{
    line-height: 20px;
    padding: 10px;
    height: 90px;
    resize: none;
}
input[type=submit]{
    display: block;
    background-color: #ccc;
    height: 35px;
    border: none;
    outline: 0;
    cursor: pointer;
    width: 100px;
    margin: 0 auto;
    text-align: center;
    border-radius: 15px;
}


 .reprograme{
    position: absolute;
    height: 140px;
    left: 119px;
    top: 399px;
    display:flex;  
}

.logo{
    position: absolute;
    width: 221px;
    height: 158px;
    left: 82px;
    top: -10px;
    display:flex;  
}

.contato{
    position: absolute;
    width: 200px;
    height: 48px;
    left: 1701px;
    top: 55px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    color: #FFFFFF;
    text-decoration:none;
    font-size:20px;
    display:flex;
}

.doe{
    position: absolute;
    width: 200px;
    height: 28px;
    left: 1551px;
    top: 55px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    color: #FFFFFF;
    text-decoration:none;
    font-size:20px;
    display:flex;
    
}

.doeaqui{
    position: absolute;
    width: 100px;
    height: 28px;
    left: 255px;
    top: 540px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    color: #FFFFFF;
    font-size: 22px;
    text-decoration:none;
    display:flex;
    
}

.elipse1{
    position: absolute;
    width: 324px;
    height: 324px;
    left: 981px;
    top: 96px;
    display:flex;
    
}

.elipse2{
    position: absolute;
    width: 220px;
    height: 220px;
    left: 1249px;
    top: 392px;
    display:flex;
    
}

.facebook{
    position: absolute;
    left: 97.51%;
    right: 2.69%;
    top: 1500px;
    bottom: 3.68%;
}

.rectangle{
    position: absolute;
    width: 168px;
    height: 43px;
    left: 220px;
    top: 555px;
    background: #006F37;
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    display:flex;
}

.sobre{
    position: absolute;
    width: 200px;
    height: 28px;
    left: 1390px;
    top: 55px;
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
    text-decoration:none;
    font-size:20px;
    display:flex;
}

.twitter{
    position: absolute;
    left: 94.51%;
    right: 2.69%;
    top: 1500px;
    bottom: 3.68%;
}

.vector1 {
    position: absolute;
    width: 1119px;
    height: 1302px;
    left: 789px;
    top: -175px;
    display:flex;
}

.informacoes .p1{
    top: 950px;
    left: 150px;
    width: 300px;
    color: white;
    font-size:25px;
    font-family: 'Roboto', sans-serif;
}

.informacoes p{
    position: absolute;
    width: 450px;
    height: 60px;
    left: 200px;
    top: 1000px;
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
    font-size:20px;
}

.apoiadores h1{
    position: absolute;
    height: 50px;
    top: 1200px;
    left: 150px;
    color: white;
    font-size:30px;
    font-family: 'Roboto', sans-serif;
}
.apoiadores .perifa{
    position: absolute;
    top: 1300px;
    left: 150px;
    width: 210px;
}
.apoiadores .mastertech{
    position: absolute;
    top: 1372px;
    left: 450px;
    width: 210px;
}

@media(min-width:1900px){
    header{
        display:flex;
        left: 900px;
        background-color: white;
    }
    
}