body { overflow-x: hidden;}

body{
    background: black;
    margin: 0;
    max-width: 100%;
    display:flex;  
}

footer{
    max-width: 100%;
    display:flex;  
}

.reprograme{
    position: absolute;
    height: 140px;
    left: 119px;
    top: 399px;
    display:flex;  
    max-width: 100%;
}

.logo{
    position: absolute;
    width: 221px;
    height: 158px;
    left: 82px;
    top: -10px;
    display:flex;  
    max-width: 100%;
}

.contato{
    position: absolute;
    width: 200px;
    height: 48px;
    left: 1701px;
    top: 55px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    color: #FFFFFF;
    text-decoration:none;
    font-size:20px;
    display:flex;
}

.doe{
    position: absolute;
    width: 200px;
    height: 28px;
    left: 1551px;
    top: 55px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    color: #FFFFFF;
    text-decoration:none;
    font-size:20px;
    display:flex;
    max-width: 100%;
}

.doeaqui{
    position: absolute;
    width: 100px;
    height: 28px;
    left: 255px;
    top: 540px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    color: #FFFFFF;
    font-size: 22px;
    text-decoration:none;
    display:flex;
    max-width: 100%;
    
}

.elipse1{
    position: absolute;
    width: 324px;
    height: 324px;
    left: 981px;
    top: 96px;
    display:flex;
    max-width: 100%;
    
}

.elipse2{
    position: absolute;
    width: 220px;
    height: 220px;
    left: 1249px;
    top: 492px;
    display:flex;
    max-width: 100%;
    display:flex; 
    
}

.facebook{
    position: absolute;
    left: 97.51%;
    right: 2.69%;
    top: 1500px;
    bottom: 3.68%;
    max-width: 100%;
    display:flex;
}

.plaquinha{
    position: absolute;
    width: 426px;
    height: 426px;
    left: 1280px;
    top: 219px;
    background: url("../img/2009421.png");
    backdrop-filter: blur(4px);
    display:flex;
    max-width: 100%;
    
}

.rectangle{
    position: absolute;
    width: 168px;
    height: 43px;
    left: 220px;
    top: 555px;
    background: #006F37;
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    display:flex;
    max-width: 100%;
}

.sobre{
    position: absolute;
    width: 200px;
    height: 28px;
    left: 1390px;
    top: 55px;
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
    text-decoration:none;
    font-size:20px;
    display:flex;
}

.twitter{
    position: absolute;
    left: 94.51%;
    right: 2.69%;
    top: 1500px;
    bottom: 3.68%;
    max-width: 100%;
    display:flex;
}

.vector1 {
    position: absolute;
    width: 1119px;
    height: 1302px;
    left: 789px;
    top: -175px;
    display:flex;
    max-width: 100%;
}

#sob{
    top: 950px;
    left: 150px;
    width: 300px;
    color: white;
    font-size:25px;
    font-family: 'Roboto', sans-serif;
}

#sob{
    position: absolute;
    width: 450px;
    height: 60px;
    left: 150px;
    top: 1020px;
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
    font-size:20px;
    
}

.apoiadores h1{
    position: absolute;
    height: 50px;
    top: 1330px;
    left: 150px;
    color: white;
    font-size:30px;
    font-family: 'Roboto', sans-serif;
}
.apoiadores .perifa{
    position: absolute;
    top: 1400px;
    left: 150px;
    width: 210px;
}
.apoiadores .mastertech{
    position: absolute;
    top: 1450px;
    left: 450px;
    width: 210px;
}

.sobre:hover{
color: rgb(5, 151, 76);
}
.doe:hover{
color: rgb(5, 151, 76);
}
.contato:hover{
color: rgb(5, 151, 76);
}
.doeaqui:hover{
color: black;
}

@media(min-width: 1800px) {
    .vector1{
        left: 900px;
    }
    .elipse1{
        left: 1100px;
    }
    .elipse2{
        left: 1350px;
    }
    .plaquinha{
        left: 1400px;
    }
 }

 @media(max-width: 500px) {
     .vector1{
         display: none;
     }
     .elipse1{
         display: none;
     }
     .elipse2{
         display: none;
     }
     .plaquinha{
         display: none;
    }
    .logo{
        left: 150px;
    }
 }

