<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/css/about_style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet"> 
    <link rel="shortcut icon" href="../static/img/icon.png" />
    <title>Retech - Sobre Nós</title>
</head>
<header>
    <div>
        <img src="../static/img/Ellipse 1.png" alt="elipse1" class=elipse1>
        <img src="../static/img/Ellipse 2.png" alt="elipse2" class=elipse2>
        <img src="../static/img/logo transparent 1.png" alt="logo" class="logo">
        <img src="../static/img/Vector 1.png" alt="vector" class=vector1>
        <img src="../static/img/2009421 1.png" alt="placa" class="plaquinha">
        <a class="sobre" href="about.html">Sobre Nós</a>
        <a class="contato" href="contact.html">Contato</a>
        <a class="doe" href="register.html">Doe Aqui</a>
    </div>
</header>
<body>
    <div class="informacoes">
        <h1>Sobre</h1>
        <p class="p1">Um pouco sobre a Retech</p>
        <p>Percebemos, cada vez mais, que o consenso sobre a necessidade de qualificação promove a alavancagem da gestão inovadora da qual fazemos parte.</p>
    </div>
</body>
<footer>
    <a href=""><img class="twitter" src="../static/img/entypo-social_twitter.png" alt="twitter"></a>
    <a href=""><img class="facebook" src="../static/img/Vector.png" alt="facebook"></a>
</footer>
</html>