{% extends 'base.html' %}
{% load static %}
{% block css %} href="{% static 'css/style.css' %}" {% endblock %}
{% block content %}
<header>
    <div>
        <img src="../static/img/Ellipse 1.png" alt="elipse1" class=elipse1>
        <img src="../static/img/Ellipse 2.png" alt="elipse2" class=elipse2>
        <img src="../static/img/logo transparent 1.png" alt="logo" class="logo">
        <img src="../static/img/Vector 1.png" alt="vector" class=vector1>
        <img src="../static/img/2009421 1.png" alt="placa" class="plaquinha">
        <a class="sobre" href="about.html">Sobre Nós</a>
        <a class="contato" href="contact.html">Contato</a>
        <a class="doe" href="register.html">Doe Aqui</a>
    </div>
</header>
<div class="informacoes">
    <h1>Sobre</h1>
    <p class="p1">Um pouco sobre a Retech</p>
    <p>Percebemos, cada vez mais, que o consenso sobre a necessidade de qualificação promove a alavancagem da gestão inovadora da qual fazemos parte.</p>
</div>
<footer>
    <a href=""><img class="twitter" src="../static/img/entypo-social_twitter.png" alt="twitter"></a>
    <a href=""><img class="facebook" src="../static/img/Vector.png" alt="facebook"></a>
</footer>
{% endblock %}