{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/css/contact_style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="../static/img/icon.png" />
    <title>Retech - Contato</title>
</head>
<header>
    <div>
        <img src="../static/img/Ellipse 1.png" alt="elipse1" class=elipse1>
        <img src="../static/img/Ellipse 2.png" alt="elipse2" class=elipse2>
        <img src="../static/img/logo transparent 1.png" alt="logo" class="logo">
        <img src="../static/img/Vector 1.png" alt="vector" class=vector1>
        <img src="../static/img/2009421.png" alt="placa" class="plaquinha">
        <a class="sobre" href="sobre">Sobre Nós</a>
        <a class="contato" href="contato">Contato</a>
        <a class="doe" href="cadastro">Doe Aqui</a>
    </div>
</header>
<body>
    <div class="informacoes">
        <p class="p1">Contato</p>
    </div>
    <form class="formulario"> 
        <h1 class="contatoh1">Contato</h1>
        <div class="field">
            <label for="nome">Seu Nome:</label>
            <input type="text" id="nome" name="nome" placeholder="Digite seu nome*" required>
        </div>

        <div class="field">
            <label for="email">Seu E-Mail:</label>
            <input type="email" id="email" name="email" placeholder="Digite seu E-Mail*" required>
        </div>      

        <div class="field">
            <label for="telefone">Assunto</label>
            <input type="text" id="assunto" name="assunto" placeholder="Digite o Assunto">
        </div>

        <div class="field">
            <label for="">Digite sua mensagem</label>
            <textarea name="mensagem" required="required" placeholder="Digite sua mensagem" cols="30" rows="15"></textarea>
         </div>

        <input type="submit" name="acao" value="Enviar">
    </form>

</body>
<footer>
    <a href=""><img class="twitter" src="../static/img/entypo-social_twitter.png" alt="twitter"></a>
    <a href=""><img class="facebook" src="../static/img/Vector.png" alt="facebook"></a>
</footer>
</html>