
body{
    
    background-color: white;
    margin: 0%;
    
}

body::-webkit-scrollbar{ 

    width: 0px;  
    
    background: transparent; 
    
    } 

.cadastro{
    color: white;
    display: flex;
    justify-content: center;
    font-size: 25px;
    font-family: 'Quicksand', sans-serif;
}

h4{
    font-family: 'Quicksand', sans-serif;
}

.div-cadastro{
    margin-left: 5px;
    margin-right: 5px;
    align-items: center;
    background-color: #006f37;
    border: none;
    display: flex;
    justify-content: center;
    width: 100%; 
    height: 70px;
    
    
}


.div-cadastro2{
    background-color: red;
    opacity: 0.75;
    
}

.logo-retech{
    display: flex;
    justify-content: flex-end;
}

.formulario{
    width: 400px;
    padding: 30px;
    border:1px solid #ccc;
}
.formulario p{
    width: 100%;
    font-size: 1.5em;
}
.field{
    width: 100%;
    margin: 15px 0;
}
.field label, 
.field span{
    padding-left: 10px;
    font-size: 1.1em;
    display: block;
    width: 100%;
}
.radiobox label{
    width: auto;
    display: inline-block;
}
input[type=text],
input[type=email],
input[type=password],
input[type=date],
input[type=pais],
textarea{
    width: 100%;
    padding-left: 10px;
    height: 30px;
    line-height: 30px;
    border-radius: 15px;
    border: 1px solid #ccc;
    outline: none;
    font-family: 'Quicksand', sans-serif;
}
input#nao{
    margin-left: 30px;
}
textarea{
    line-height: 20px;
    padding: 10px;
    height: 90px;
    resize: none;
}
input[type=submit]{
    display: block;
    background-color: #ccc;
    height: 35px;
    border: none;
    outline: 0;
    cursor: pointer;
    width: 100px;
    margin: 0 auto;
    text-align: center;
    border-radius: 15px;
}
